*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
img{
    max-width: 100%;
}
/* header parts */
header{
    background: url(/images/banner/banner3.png);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.header-parts{
    width: 75%;
    margin: 0 auto;
    text-align: right;
}
.header-title{
    font-size: 56px;
    font-weight: 800;
    margin: 0px -79px;
    padding: 153px 74px 0px 504px;
    color: #fff;
}
.header-description{
    font-size: 14px;
    margin: 14px -40px;
    padding: 10px 34px 10px 607px;
    color: #fff;
}
.contact-btn{
    font-size: 17px;
    width: 112px;
    font-weight: 600;
    height: 41px;
    color: #005FAC;
    background: #fff;
    border: none;
    border-radius: 10px;
}
/* My failures of previous year parts */
main{
    width: 85%;
    margin: 0 auto;
}
.failer-parts{
    display: flex;
    gap: 10%;
    width: 1072px;
    height: 723.3px;
    margin: 183px 66px 29.7px 0px;
}
.failer-img{
    width: 40%;
}
.failer-text{
    width: 40%;
}
.failer-header{
    font-size: 40px;
    font-weight: 800;
    margin: 153px 0px 21px -2px;
}
.failer-description{
    font-size: 15px;
    color: #444343;
    margin: 24px 37px 16px 5px;
}
.failer-list{
    margin: 11px 11px;
    font-size: 15px;
    color: #444343;
}
span{
    color: #16D887;
    margin-right: 8px;
}